<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>Normal.dotm</Template><TotalTime>0</TotalTime><Pages>49</Pages><Words>7492</Words><Characters>42711</Characters><Application>Microsoft Office Word</Application><DocSecurity>0</DocSecurity><Lines>355</Lines><Paragraphs>100</Paragraphs><ScaleCrop>false</ScaleCrop><Company>thuvienhoclieu.com</Company><LinksUpToDate>false</LinksUpToDate><CharactersWithSpaces>50103</CharactersWithSpaces><SharedDoc>false</SharedDoc><HyperlinksChanged>false</HyperlinksChanged><AppVersion>14.0000</AppVersion></Properties>